
<ion-list>
  <ion-item-sliding *ngFor="let item of listaService.listas | filtroLista: tipo">
    <ion-item (click)="listaSeleccionada(item)">
      <ion-label>{{item.titulo}}</ion-label>
    </ion-item>
    <ion-item-options side="start">   
      <ion-item-option color="warning" (click)="editarLista(item)">Editar</ion-item-option>
  </ion-item-options>

<ion-item-options side="end">   
  <ion-item-option color="danger" (click)="borrarLista(item)">Eliminar</ion-item-option>
</ion-item-options>
  </ion-item-sliding>
</ion-list>
